Задание 1

In [13]:
import pandas as pd 
data = pd.read_csv(r'C:\Users\Admin\Downloads\ratings.csv', sep=",", encoding="utf-8")
movies = pd.read_csv(r"C:\Users\Admin\Downloads\movies.csv", sep=",", encoding="utf-8")

result = pd.merge(data, movies, on="movieId")

def classification(stroka):
    row = stroka['rating']

    if int(row) <= 2:
        return 'Низкий'
    if 2 < int(row) <= 4:
        return "Средний"
    if int(row) >= 4.5:
        return "Высокий"

result["class"] = result.apply(classification, axis=1)
result

,userId,movieId,rating,timestamp,title,genres,class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Средний
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,Средний
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,Средний
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,Высокий
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,Высокий
...,...,...,...,...,...,...,...
96806,610,158238,5.0,1479545219,The Nice Guys (2016),Crime|Mystery|Thriller,Высокий
96807,610,158956,3.0,1493848947,Kill Command (2016),Action|Horror|Sci-Fi,Средний
96808,610,159093,3.0,1493847704,Now You See Me 2 (2016),Action|Comedy|Thriller,Средний
96809,610,160080,3.0,1493848031,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi,Средний
96810,610,161582,4.0,1493847759,Hell or High Water (2016),Crime|Drama,Средний

Задание 2

In [13]:
import pandas as pd 
data = pd.read_csv(r'C:\Users\Admin\Downloads\keywords.csv', sep=",", encoding="utf-8")

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def classify_region(query):
    query_lower = query.lower() 
    for region, cities in geo_data.items():
        for city in cities:
            if city in query_lower:
                return region 
    return 'undefined'  

data['region'] = data['keyword'].apply(classify_region)

region_counts = data['region'].value_counts()
print(region_counts)

data.tail()

region
undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: count, dtype: int64

                       keyword  shows     region
99995   эльдорадо старый оскол   3705  undefined
99996      frigate для firefox   3630  undefined
99997                   укрсиб   3630  undefined
99998  погода в ялте на неделю   3688  undefined
99999                     ггму   3630  undefined